@import url('./styles.css');

body {
    background-color: var(--bg-dark);
    font-family: 'Roboto', sans-serif;
}

.image-container {
    background-image: url('../img/iv.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}

form .form-control {
    border-radius: 8px;
    border: 1px solid var(--text-muted);
    padding: 10px;
    font-size: 14px;
    background-color: var(--bg-darker);
    color: var(--text-light);
}

form .form-control::placeholder {
    color: var(--text-muted);
}

form .btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    border-radius: 8px;
    font-size: 16px;
    padding: 10px;
}

form .btn-primary:hover {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: var(--text-light);
}

.container-fluid {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 20px; /* Add padding to top and bottom */
}

.row {
    max-width: 800px; /* Reduce the maximum width */
    width: 100%;

    background-color: var(--bg-darker);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin: 0 20px; /* Add margin to both sides */
}

.col-lg-6 {
    padding: 0;
}

.bg-light {
    padding: 40px; /* Reduce the padding */
    background-color: var(--bg-darker);
}

.text-center a {
    color: var(--primary-color);
}

.text-center a:hover {
    text-decoration: underline;
}

.btn-outline-primary {
    border-radius: 8px;
    font-size: 16px;
    padding: 10px;
    width: 150px;
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-outline-primary:hover {
    background-color: var(--primary-color);
    color: var(--text-light);
}

.btn-outline-primary i {
    margin-right: 8px;
}
